* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: cursive;
}
body {
    background-color: rgb(15, 15, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
div {
    background-color: cyan;
    width: 20em;
    height: 10em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: black;
    border: unset;
    border-radius: 10px;
    width: 8em;
    height: 3em;
    color: #fff;
}